@import '~styles/_dependencies';

.appIcon {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: $white;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;

  i {
    font-size: 54px;
    color: $denim;
    padding: 8px;
  }
}

.iconName {
  margin: 20px;
  text-transform: capitalize;
}
