// Colors
$electricViolet: #760aff;
$whisper: #fafafc;
$mySin: #ffb914;
$mountainMeadow: #0eb87f;
$logan: #9ea7c7;
$amethyst: #aa66cc;
$hollywoodCerise: #ff0098;
$sunglow: #ffbb33;
$denim: #1565c0;
$oxfordBlue: #3b4058;
$albescentWhite: #f3e9cb;
$cerulean: #00bde5;
$bondiBlue: #0083b7;
$casper: #bdcadb;
$wildBlueYonder: #718baf;
$fiord: #4e5575;
$sepia: #704214;
$rawUmber: #704214;
$zombie: #e4cf92;
$pictonBlue: #4bc0f3;
$ebonyClay: #2d3143;
$fuelYellow: #e9aa28;
$silverTree: #58b996;
$regalBlue: #004777;
$azure: #3a5ca9;
$astronaut: #274077;
$comet: #5b6384;
$laser: #c4a862;
$rss: #ffa401;
$mandy: #ff8882;
$lightBlue: #d6eaf3;
$loblolly: #bec9d0;
$shuttleGray: #5e6a80;

// Basic Colors
$black: #000;
$red: #ff0000;
$white: #fff;
$requiredRed: #db4433;

// Gray Colors
$codGray: #111;
$mineShaft: #222;
$tuna: #333;
$tundora: #444;
$emperor: #555;
$doveGray: #666;
$boulder: #777;
$gray: #888;
$dustyGray: #999;
$silverChalice: #aaa;
$silver: #bbb;
$frenchGray: #ccc;
$alto: #ddd;
$gallery: #eee;
$mercury: #e9e9e9;
$alabaster: #f7f7f7;
$almostWhite: #fafafa;
$steelGray: #1e1e2e;
$storGray: #6c6e86;
$shark: #21262d;
$darkShark: #1c1e25;
$manatee: #878c9c;
$athensGray: #f1f2f7;
$wildSand: #f4f4f4;

// Reds/Pinks:
$fairPink: #ffe9e9;
$radicalRed: #ff2d55;
$torchRed: #fc1c49;
$pink: #ffc3cd;
$vividTangerine: #ff8882;
$lightRed: #ff8080;

// Blues:
$easternBlue: #1d9a90;
$lightGreen: #0d9a67;
$lochmara: #0073bc;
$skyBlue: #41ade2;
$bigStone: #172b44;
$prussianBlue: #002642;
$oxfordBlue: #364150;
$chambray: #3b5998;
$regentGray: #8290a3;
$dodgerBlue: #2ea1f8;
$azureRadiance: #00a8ff;
$mediumBlue: #c6e6fd;
$litghtlyBlue: #c3d2dc;

// Yellow/Green:
$ripeLemon: #f6d42a;
$galliano: #dcb909;
$yukonGold: #7a6705;

// React
$frenchPass: #bbf0ff;
$malibu: #5bdafd;

// Redux
$fuchsiaBlue: #7745bf;

// HTML5
$waxFlower: #ffc1af;

// Node
$chiffon: #e4ffc3;

// Javascript
$ronchi: #f0db50;

// States
$crimson: #ed1c24;
$malachite: #1bb935;
$treePoppy: #fd9a18;
$lightOrange: #ffb73d;

// Sign in button
$amethystSmoke: #9498bb;
$blackcurrant: #2e293c;
$pigeonPost: #b2b9d6;

// Danger button
$thunderbird: #d02718;
$grenadier: #c62d1f;
$geraldine: #f5978e;
$flamingo: #f24537;
$lightPink: #f998ab;

// Primary button
$chathamsBlue: #124d77;
$endeavour: #0061a7;
$cornflowerBlue: #54a3f7;

// Success button
$fernFrond: #3b6e22;
$chelseaCucumber: #68a54b;
$deYork: #9acc85;
$aquaForest: #74ad5a;

// Warning button
$mySin: #ffaa22;
$sunshade: #ffab23;
$buttermilk: #fff6af;
$parisDaisy: #ffec64;

// Social colors
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$rss: #ff6600;

// Rgba.
$greyRgba: rgba(236, 239, 243, 0.8);
$lightRgbaBlue: rgba(69, 191, 245, 0.17);

// Font sizes
$xxxLarge: 48px;
$xxLarge: 32px;
$xLarge: 24px;
$larger: 19px;
$large: 18px;
$big: 17px;
$regular: 16px;
$medium: 14px;
$small: 13px;
$smaller: 12px;
$xSmall: 10px;
$xxSmall: 9px;
$xxxSmall: 8px;

// Font weight
$light: 100;
$normal: 400;
$bold: 700;
$heavy: 900;

// Breakpoints
$tablet: 768px;
$mobile: 640px;
$desktop: 1024px;
