@import '~styles/_dependencies';

html,
body {
  background-color: $white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

.mainLayout {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
