@import '~styles/_dependencies';

.customFields {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -20px;
  padding-left: 20px;
  width: 100%;

  .id {
    display: inline-block;
    background-color: $gallery;
    color: $gray;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 3px;
    padding: 5px 6px;
  }

  .fields {
    font-size: 13px;
    line-height: 24px;
    color: $regentGray;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;

    @include maxBreakpoint(1024px) {
      max-width: 600px;
    }

    @include tablet {
      max-width: 420px;
    }

    .badge {
      padding: 6px;
      margin-right: 10px;
    }

    .goBack {
      display: flex;
      align-items: center;
      color: $tuna;
      font-size: 24px;
      margin-bottom: 40px;

      a {
        color: $tuna;
      }
    }

    .entryTitle {
      word-wrap: break-word;
      width: 550px;

      @include tablet {
        width: 300px;
      }
    }

    .field {
      border-left: 3px solid $gallery;
      padding-left: 10px;
      margin-top: 10px;

      &.active {
        border-left: 3px solid $pictonBlue;
      }

      &.red {
        border-left: 3px solid $red;
      }

      label {
        width: 100%;

        .tag {
          background-color: $alabaster;
          border-radius: 5px;
          color: $tuna;
          font-size: 12px;
          margin-right: 5px;
          padding: 5px;
          text-align: center;
          width: 40px;
        }

        .red {
          color: $red;
          background-color: $fairPink;
        }
      }

      .text {
        textarea {
          height: 250px;
        }
      }
    }
  }
}
